.main-navbar {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 10px;
}

.main-navbar-link {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.main-navbar-link-logout {
    text-align: left;
}

.main-navbar-link:hover {
    color: var(--secondary-text-color-hover);
}

.main-navbar-right-aligned {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.main-navbar-profile-display {
    display: flex;
    flex-direction: column;
}

.main-navbar-profile-text {
    text-align: center;
    color: var(--secondary-text-color);
}

.profile-name {
    font-weight: bold;
}

.profile-email {
    font-size: 0.8rem;
}

.main-navbar-offcanvas {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.main-navbar-offcanvas-title {
    color: var(--secondary-text-color);
    font-weight: bold;
}