.main-navbar {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 10px;
}

.main-navbar-link {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.main-navbar-link:hover {
    color: var(--secondary-text-color-hover);
}

.main-navbar-right-aligned {
    flex-direction: row;
    justify-content: end;
    width: fit-content;
}

.main-navbar-profile-display {
    width: fit-content;
    flex-direction: column;
    transition: 0.2s;
}

.main-navbar-profile-text {
    text-align: center;
    color: var(--secondary-text-color);
}

.profile-name {
    font-weight: bold;
}

.profile-email {
    font-size: 0.8rem;
}