:root {
  --primary-color: #495057;
  --secondary-color: #6c757d;
  --secondary-color-light: #959ca5;
  --primary-text-color: #f8f9fa;
  --secondary-text-color: #343a40;
  --background-color: #bac0c5;
  --secondary-text-color-hover: #51585f;
  --secondary-color-light-hover: #899099;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color) !important;
}
