.tournament-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.tournament-card {
    width: 300px;
    text-align: center;
    background-color: var(--secondary-color-light);
    border: 1px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .tournament-card {
        width: 100%;
    }
}

.tournament-card:hover {
    scale: 1.02;
    background-color: var(--secondary-color-light-hover);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.tournament-card-title-text {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.tournament-card-subtitle-text {
    color: var(--secondary-text-color);
}

.tournament-card-button-stack {
    justify-content: center;
    gap: 3px;
    margin-top: 10px;
}

.tournament-card-edit-button {
    background-color: var(--secondary-color);
    border: none;
}

.tournament-card-edit-button:hover {
    background-color: var(--secondary-color-hover);
}

.tournament-edit-modal {
    background-color: var(--secondary-color-light);
}

.tournament-edit-modal-header {
    border-bottom: 1px solid var(--primary-color);
}